<h2 mat-dialog-title>Création d'un médecin</h2>
<br> <br> <br>
<form [formGroup]="medecinForm" (ngSubmit)="onSubmit()">
<mat-form-field>
  <mat-label for="specialite">Spécialité: </mat-label>
  <mat-select id="specialite" formControlName="specialite" required>
    <mat-option *ngFor="let service of services" [value]="service.nomservice">
      {{service.idservice}} - {{ service.nomservice }}
    </mat-option>
  </mat-select>
</mat-form-field>
<br> 
  <label for="prenom">Prénom : </label>
  <input id="prenom" maxlength="25" type="text" formControlName="prenom"   [(ngModel)]="Prenom" />
  <br> <br> <br>
  <label for="nom">Nom : </label>
  <input id="nom" maxlength="25"  type="text" formControlName="nom" [(ngModel)]="Nom" />
  <br> <br> <br>
  <label for="anneesexperience">Années experiences : </label>
  <input [(ngModel)]="Age"
    id="anneesexperience"
    type="number"
    formControlName="anneesexperience"
  />
  <br> <br>
  <button type="submit" [disabled]="!medecinForm.valid">Soumettre le formulaire</button>
</form>
