<button mat-raised-button color="primary" routerLink="/create"  class="buttonAdd">+ Ajouter un médecin</button>
<table mat-table [dataSource]="medecins" class="mat-elevation-z8">
  <ng-container matColumnDef="prenom">
    <th mat-header-cell *matHeaderCellDef>Prénom</th>
    <td mat-cell *matCellDef="let medecin">{{ medecin.prenom }}</td>
  </ng-container>

  <ng-container matColumnDef="nom">
    <th mat-header-cell *matHeaderCellDef>Nom</th>
    <td mat-cell *matCellDef="let medecin">{{ medecin.nom }}</td>
  </ng-container>

  <ng-container matColumnDef="specialite">
    <th mat-header-cell *matHeaderCellDef>Spécialité</th>
    <td mat-cell *matCellDef="let medecin">{{ medecin.specialite }}</td>
  </ng-container>

  <ng-container matColumnDef="anneesExperience">
    <th mat-header-cell *matHeaderCellDef>Années Expériences</th>
    <td mat-cell *matCellDef="let medecin">{{ medecin.anneesexperience }}</td>
  </ng-container>

  <ng-container matColumnDef="service">
    <th mat-header-cell *matHeaderCellDef>Numéro de service</th>
    <td mat-cell *matCellDef="let medecin">{{ medecin.idservice }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let medecin">
      <a mat-raised-button (click)="editHotel(medecin)" color="primary">Edit</a>
      <a mat-raised-button (click)="deleteHotel(medecin.idmedecin)" color="warn" class="delButtons"><mat-icon>delete</mat-icon></a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator
  [pageSizeOptions]="[20, 10, 15]"
  showFirstLastButtons
  aria-label="Select hotels" class="bottomPage">
</mat-paginator>
