  .mat-elevation-z8 {
    width: 95%;
    margin-left: 2.5%;
    height: 70%;
    border-collapse: collapse;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  }
  
  .mat-elevation-z8 th,
  .mat-elevation-z8 td {
    border-bottom: 1px solid #ddd;
    text-align: left;
  }
  
  .mat-elevation-z8 th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .mat-elevation-z8 tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .mat-elevation-z8 tr:hover {
    background-color: #f1f1f1;
  }
  
  .action-button {
      background-color: #f2f2f2;
      border-radius: 5px;
      cursor: pointer;
      padding-right: 5px;
    }
  
  .action-button span {
    margin-left: 5px;
  }
  
  .add {
    display: block;
    margin: 20px auto;
    padding: 15px 20px;
    background-color: #f2f2f2;
    border-radius: 50%;
    border: 1px solid #ddd;
    font-size: 20px;
    
  }
  
  .buttonAdd {
      left:84%;
      margin-top:1%;
      margin-bottom: 1%;
      cursor: pointer;
  }

  .bottomPage{
    width: 95%;
    margin-left:2.5%;
  }

 .delButtons {
    margin-left: 8%;
 }