<h2 mat-dialog-title>Modification d'informations</h2>
<mat-dialog-content>
  <form [formGroup]="medecinForm" (ngSubmit)="onSubmit()">
    <label for="specialite">Spécialité : </label>
    <br>
    <mat-form-field>
      <mat-label>Spécialité</mat-label>
    <mat-select id="specialite" formControlName="specialite" required>
      <mat-option *ngFor="let service of services" [value]="service.nomservice">
        {{ service.idservice }} - {{ service.nomservice }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br> <br> <br>
    <label for="prenom">Prénom : </label>
    <input class="inputInModif" id="prenom" type="text" formControlName="prenom" />
    <br> <br> <br>
    <label for="nom">Nom : </label>
    <input class="inputInModif"  id="nom" type="text" formControlName="nom"  />
    <br> <br> <br>
    <label for="anneesexperience">Années experiences : </label>
    <input class="inputInModif" 
      id="anneesexperience"
      type="number"
      formControlName="anneesexperience"
    /> 
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="cancelAction()" class="btnLay">Annuler</button>
  <button 
    mat-button
    [disabled]="!medecinForm.valid"
    cdkFocusInitial
    (click)="onSubmit()"  class="btnLay"
  >
    Confirmer
  </button>
</mat-dialog-actions>
